<?xml version="1.0" encoding="UTF-8"?>
<server description="linux counter">
  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>servlet-4.0</feature>
    <feature>cdi-2.0</feature>
    <feature>jsonp-1.1</feature>
    <feature>jsonb-1.0</feature>
    <feature>jpa-2.2</feature>
    <feature>mpOpenAPI-2.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>

  <httpEndpoint httpPort="${default.http.port}"
                httpsPort="${default.https.port}"
                id="defaultHttpEndpoint"
                host="*">
    <accessLogging id="accessLogging" />
    <compression serverPreferredAlgorithm="gzip">
      <types>+application/*</types>
    </compression>
  </httpEndpoint>

  <cdi12 enableImplicitBeanArchives="false" />

  <webApplication
    id="${warName}"
    location="${warName}.war"
    type="war"
  />
  <applicationMonitor updateTrigger="mbean" />

</server>
